{
    "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
    "plugins": ["stylelint-prettier"],
    "rules": {
        "color-no-invalid-hex": true,
        "prettier/prettier": true,
        "no-empty-source": null
    },
    "ignoreFiles": ["**/node_modules/**", "**/dist/**"]
}
